



.container{
  width: 1480px;
  height: 100%;
  max-width: 100%;
  
}
.section{
  background-color: rgb(218, 241, 227);
}





/* Navitionbar stert */
#navbarNav ul li a {
  padding-left: 40px; 
  color: black;
}
#navbarNav{
  padding-right: 55px;
}
.btn{
  padding:  5px 30px 5px 30px;
  border-radius: 30px;
  border: 2px solid black;
  background-color: rgb(91, 207, 91);
  color: rgb(8, 8, 8);
}
.btn:hover{
  background-color: darkgreen;
  color: rgb(228, 234, 240);
}